/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    .maim-menu ul.nav.navbar-nav li a {padding: 40px 12px;}    
    .top-area.sticky .maim-menu ul.nav.navbar-nav li a {padding: 25px 12px;}
    .top-area.sticky .search-area form{ margin-top: 18px;}       
    .about-mg::before {
      height: 230px;
      right: 62px;
      top: 30px;
    }    
    .mb-50{margin-bottom: 10px;}
    .mt-30{margin-top: 10px;}    
    .skillbar{margin-bottom: 10px;}
    .testi-text {margin-left: 190px;}
    .test-img {margin-top: 90px;}
    
    .blog-post li .blog-post-text{
        padding-left: 120px;
        float: left;
        margin-top: -85px;
    }

    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    .logo {
      margin-top: 22px;
      width: 100px;
    }
    
    .collapse.navbar-collapse {
          padding: 0;
        }
  .maim-menu ul.nav.navbar-nav li a {
          font-size: 12px;
          padding: 35px 4px;
          text-align: center;
        }
    .search-area form{
        margin-top: 27px;
    }
    
   .top-area.sticky .logo {
      margin-top: 17px;
      width: 80px;
    }
    
    .top-area.sticky .maim-menu ul.nav.navbar-nav li a {
          font-size: 12px;
          padding: 25px 4px;
        }

   .top-area.sticky .search-area form {
      margin-top: 17px;
    }
    
    .slider-img img{
        height: 600px;
    }
    
    .portfolio-icon {
      padding-bottom: 15px;
      top: -10px;
    }
    
    .porfolio-title {
      bottom: -10px;
    }
    .porfolio-title h3 {
      margin-bottom: 10px;
    }
    
    .about-mg{
        width: 550px;
        margin: 0 auto;
    }
    
    .about-mg{
        margin-bottom: 30px;
    }
    
    .mb-50{margin-bottom: 10px;}
    .mt-30{margin-top: 10px;} 
    .team-icon a{
        width: 30px;
        height: 30px;
        line-height: 27px;
        margin: 0 3px;
    }
    

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
     .logo {
          margin: 0 auto;
          width: 100px;
          margin-top: 12px;
        }
     .maim-menu{ width: 100%;}    
     .nav.navbar-nav {padding: 0; margin: 0;}
     .mobile-menu-activeted .navbar-collapse { padding: 0; box-shadow: 0 0 0;}
     .navbar-toggle {
         margin: 0;
         float: none;
         text-align: center;
         border-color: #353535;
     }
    
    .maim-menu {
      padding: 20px 0;
    }
    .navbar-header {
    }
    .navbar-toggle .icon-bar {
        background: #353535;
    }
    .mobile-menu-activeted ul.nav.navbar-nav {
        background: #000 none repeat scroll 0 0;
        text-align: center;
        width: 100%;
    }
    .mobile-menu-activeted ul.nav.navbar-nav li{
        display: block;
        max-width:100%;
    }
    
    .mobile-menu-activeted ul.nav.navbar-nav li a{
        padding: 15px 0;
        color: #fff;
        border-bottom: 1px solid #333;
    }
    
   .search-area form {
      position: absolute;
      bottom: -52px;
    }
    
      .top-area.sticky .maim-menu {
          padding: 5px 0;
        }

    .top-area.sticky .search-area form {
       position: absolute;
        bottom: -36px;
    }
    
    .top-area.sticky .maim-menu ul.nav.navbar-nav li a {
      padding: 10px 15px;
    }
    
    .slider-img img{
        height: 500px;
    }
    
    .slider-text .cd-headline span{
      font-size: 25px;
        margin: 15px 0;

    }
    
    .slider-text span{
        font-size: 18px;
    }
    
    .slider-text a {
      padding: 10px 15px;
    }
    
    .portfolio-menu li {
        margin: 10px 0;
    }
    
   .about-mg::before {
      height: 150px;
      right: 40px;
      top: 16px;
      width: 10px;
    }
    .mb-50{margin-bottom: 20px;}
    .mt-30{margin-top: 20px;} 
    .section-title {
      margin-top: 30px;
    }
    
    .single-team{
        margin-bottom: 30px;
    }
    .team-area .col-sm-4:last-child .single-team{
         margin-bottom: 0px;
    }
    .test-img {
      float: none;
     margin-top: 0px;
        position: relative;
        
    }
   .test-img {
      float: none;
      height: 39px;
      margin: 0 auto;
      width: 140px;
    }
    
    .testi-text {
      margin-left: 0;
      margin-top: 112px;
    } 
    
    
    .testi-text {
      margin-left: 0px;
      padding: 10px 10px 10px;
    }
    
  .testi-text::before {
     display: none;
    }

    .latest-blog{
        width: 100%;
    }
    
    .blog-content {
      padding-left: 0px;
      width: 100%;
    }
    
    .news-search form input{
      width: 80%;
    }
    .news-search form button{
      width: 20%;

    }
    
    .copyright{
        text-align: center;
    }
    
    .copyright-icon{
        text-align: center;
        margin-top: 20px;
    }

    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}